html {

    scroll-behavior: smooth;
}


body .container {
    background-color: white;

}

/*inicio header*/
header {
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.container header .uno {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.uno .tarea {
    width: 45%;

}

.uno .prioridad {
    width: 45%;
}

.urgente {
    background-color: #f8d7da;
    color: #842029;

}

.mensual {
    color: #664d03;
    background-color: #fff3cd;
}

.diario {
    color: #0f5132;
    background-color: #d1e7dd;
}

.other {
    color: #41464b;
    background-color: #e2e3e5;
}

.uno button {
    padding: 6px 30px;
    color: rgb(250, 226, 15);
    background-color: rgb(54, 54, 54);
}

.uno button:hover {
    color: rgb(250, 226, 15);
    background-color: black;
}

.container header .dos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.dos .filtro {
    width: 45%;
}

.dos .buscador {
    width: 45%;
    margin-left: 2px;

}

.mensaje {
    height: 25px;
    width: 89%;
    margin-top: 25px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.mensaje i {
    padding-right: 10px;
}

/*fin header*/

/* inicio de main */
main article {
    border: none;
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    border-radius: 5px;

}

main h3 {
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;


}

main h1 {
    display: none;
}

main section {
    margin-top: 5px;
    width: 100%;
}

main section ul {
    padding-left: 0px;
}

section li {
    box-sizing: border-box;
    position: relative;
}

section li i {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 0;
    padding: .8rem 1rem;
    cursor: pointer;
    opacity: .5;
}

section li i:hover {
    opacity: 1;
}

/*fin de main*/
#anchor {
    position: fixed;
    bottom: 1.375rem;
    right: 3rem;


}

#anchor a {
    font-size: 200%;
    color: black;
}